body {
    background-color: #27AE60;
    
}


label {
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    padding-left: 10px;
    line-height: 1.5;
}

input {
    border-radius: 15px;
    border: 2px solid #3c4043;
    font-size: 18px;
    line-height: 1.5;
    outline: none;
    font-weight: bold;
    color: #fff;
    padding: 5px 10px 5px 10px;
    background-color: #303134;
}